nav {
  font-weight: bolder;
  background: linear-gradient(24deg, $pink -80%, #f8f9fa 80%);
  background: -webkit-linear-gradient(24deg, $pink -80%, #f8f9fa 80%);
  background: -moz-linear-gradient(24deg, $pink -80%, #f8f9fa 80%);
}
